.navbar-kontener {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frontend-nav {
    display: flex;
    flex-direction: row;
}

.navbar-kontener a {
    color: whitesmoke;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    width: 100%;
}

.login-belso-kontener {
    display: flex;
    flex-direction: row;
}

.logout-kontener button {
    background-color: blue;
    /* border: 1px solid white; */
    border: none;
    color: whitesmoke;
    font-size: 1em;
    height: 100%;
    padding: 1em;
}